$light:rgba(64, 237, 179, 0.63);
$normal:rgb(27, 226, 23);
$heavy:orange;
$fat:red;
$grey:#666;
body{
    background-color:cadetblue;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-areas:
    'header header header header header header'
    'aside main main main main main'
    'aside main main main main main';
    gap: 10px;
    header{
        grid-area: header;
        text-align: center;
    }
   
    aside{
        grid-area: aside;
        background-color: antiquewhite;
        ul{
            list-style: none;
            li{
                padding: 5px 15px;
                &.home-page {
                    padding: 5px 0px;
                }
                &:hover{
                       
                    background-color: aqua;
                }
                a{
                    color: #333;
                    text-decoration: none;
                }
            }
        }
    }
    main{
        grid-area: main;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}