
    main{
        grid-area: main;
        background-color: bisque;
        display: flex;
        justify-content: start;
        flex-direction: column;
        align-items: center;
        gap:20px;
        h1{
            text-align: center;
            font-size: 3rem;
        }
        section.form{
            margin: 25px auto;
            input{
                font-size: 1.6rem;
                line-height: 3rem;
            }
            button{
                font-size: 1.6rem;
                line-height: 3rem;
            }
        }
        section.list{
            width: 100%;
            table{
                text-align: center;
                width: 100%;
            
                thead{
                    width: 50%;
                }
                .list-table{
                    
                    padding: 0px;
                    margin: 10px auto;
                    font-size: 1.6rem;
                    line-height: 3rem;
                tr{
                    td{
                        input{
                            font-size: 1.6rem;
                            line-height: 3rem;
                        }
                        button{
                            font-size: 1.6rem;
                            line-height: 3rem;
                        }
                    }
                }
                    
                }
        }
        }
    }
