$light:rgba(64, 237, 179, 0.63);
$normal:rgb(27, 226, 23);
$heavy:orange;
$fat:red;
$grey:#666;

    main {
        background-color: bisque;
        grid-area: main;
        display: flex;
        justify-content: center;
        aside{
            width: 40%;
            display: flex;
            flex-direction: column;
            gap: 10px;

            span{
                
                p{
                    width: 50%;
                    margin: 5px 0; 
                   
                }
                input{
                    width: 200px;
                    margin: 5px 0;
                    border-radius: 5px;
                }
                h4.helping{
                    color: #333;
                }
                h3.result{
                    width: 50%;
                    display: inline;
                    margin: 0;
                    background-color: #fff;
                }
                button{
                    padding: 5px 10px;
                    background: #fff;
                    border: 1px solid #333;
                    border-radius: 1000px;
                    width: 25%;
                    &:active, &:hover{
                        cursor: pointer;
                    }
                }
            }

            ul{
                display: flex;
                flex-direction: column;
                height: 100%;
                list-style: none;
                li{
                    height: 25%;
                    padding: 5px;
                    margin: 5px 0;
                }
                li.light{
                    background: $light;
                }
                li.normal{
                    background: $normal;
                }
                li.heavy{
                    background: $heavy;
                }
                li.fat{
                    background: $fat;
                }
                li.grey{
                    background: $grey;
                    color: #999;
                    opacity:0.5;
                    transition:0.5s;
                }

            }
        }
    }

