$light:rgba(64, 237, 179, 0.63);
$normal:rgb(27, 226, 23);
$heavy:orange;
$fat:red;
$grey:#666;
*{
    // border:1px solid red;
    // margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: grid;
    grid-template-areas: 
    'header header header header header header'
    'aside main main main main main'
    'aside main main main main main';
    
    header{
        grid-area: header;
        text-align: center;
        background-color:burlywood;
    }
    aside.menu{
        grid-area: aside;
        background-color: antiquewhite;
        height: calc(100vh - 80px - 8px)  ;
        ul{
            list-style: none;
            li{
                padding: 5px 15px;
                &.home-page {
                    padding: 5px 0px;
                }
                &:hover{
                       
                    background-color: aqua;
                }
                a{
                    color: #333;
                    text-decoration: none;
                }
            }
        }
    }
    
    main {
        background-color: bisque;
        grid-area: main;
        display: flex;
        justify-content: center;
        aside{
            width: 40%;
            display: flex;
            flex-direction: column;
            gap: 10px;

            span{
                height: 100%;

                h3{
                margin: 5px 0; 
                }
                input{
                    width: 200px;
                    margin: 5px 0;
                    border-radius: 5px;
                }
                h4.helping{
                    color: #333;
                }
                h4.result{
                    display: block;
                    background-color: #999;
                }
                button{
                    background: #fff;
                    border: 1px solid #333;
                    border-radius: 1000px;
                    width: 25%;
                    &:active, &:hover{
                        cursor: pointer;
                    }
                }
            }

            ul{
                display: flex;
                flex-direction: column;
                height: 100%;
                list-style: none;
                li{
                    height: 25%;
                    padding: 5px;
                    margin: 5px 0;
                }
                li.light{
                    background: $light;
                }
                li.normal{
                    background: $normal;
                }
                li.heavy{
                    background: $heavy;
                }
                li.fat{
                    background: $fat;
                }
                li.grey{
                    background: $grey;
                    color: #999;
                    opacity:0.5;
                    transition:0.5s;
                }

            }
        }
    }
}
