
main{
        grid-area: main;
        background-color: bisque;
        width: 100%;
        h2{
            text-align: center;
        }
        .register-card{
            width: 30%;
            margin: 10px auto;
            display: flex;
            flex-direction: column;
            align-self: center;
            gap:10px;
        }
    }
