
<header id="header">
    <h1>Javascript & jQuery Practice</h1>
</header>
<aside class="menu">
    <ul>
      <li>
        <a
          href="https://henry4682.github.io/Javascript-practice/BMI_calculator/"
          >BMI calculator</a
        >
      </li>
      <li>
        <a href="https://henry4682.github.io/Javascript-practice/Calculator/"
          >Calculator</a
        >
      </li>
      <li>
        <a
          href="https://henry4682.github.io/Javascript-practice/Free_Wifi_Search/"
          >Free Wifi Search</a
        >
      </li>
      <li>
        <a href="https://henry4682.github.io/Javascript-practice/TODO_List/"
          >TODO list</a
        >
      </li>
      <li>
        <button class="toggle">User</button>
        <ul class="userList">
          <li><a href="https://henry4682.github.io/Javascript-practice/User/Register/">Register</a> </li>
          <li><a href="https://henry4682.github.io/Javascript-practice/User/LogIn/">Log-in</a> </li>
          <li><a href="https://henry4682.github.io/Javascript-practice/User/Products&cart/">Products&cart</a> </li>
        </ul>
      </li>
    </ul>
  </aside>



