:root{
    /* 風格設定 */
    /* 主題 天空藍 */
    --table-border: #007ca6;
    --thead-color:  #15b9ff;
    --cell-background-color1: #cef3ff;
    --cell-background-color2: #ecfbff;
    --th-cell-color:  #00637b;
    --td-cell-color:  #00637b;
    --table-hover:#eadc708d;
    --btn-color:#15b9ff;
}


.table{
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
}

.table thead tr th, .table tbody tr td {
    border: 0px solid transparent;
    padding: 10px;
    position: relative;
} 

.table thead tr {
    background-color: var(--btn-color)
}

.table tbody tr:nth-child(even){
    background-color: var(--cell-background-color1);
}

.table tbody tr:nth-child(odd){
    background-color: var(--cell-background-color2);
}

.table tbody tr:hover { 
    background-color: var(--table-hover);
}


.table tbody td:hover::before{
    background-color: var(--table-hover);
    content: '';  
    height: 10000px;    
    left: 0;
    position: absolute;  
    top: -5000px;
    width: 100%;
}


.table tbody tr:hover td button{
    background-color: var(--btn-color);
    border: #eee;
}

.table button{
    z-index: 10;
}




