body{
    margin: 0;
    display: grid;
    grid-template-areas: 
    'header header header header header header'
    'aside main main main main main'
    'aside main main main main main';
    font-family: Arial, Helvetica, sans-serif;
    header{
        grid-area: header;
        text-align: center;
        background-color:burlywood;
    }
    aside.menu{
        grid-area: aside;
        background-color: antiquewhite;
        height: calc(100vh - 80px - 8px)  ;
        ul{
            list-style: none;
            li{
                padding: 5px 15px;
                &.home-page {
                    padding: 5px 0px;
                }
                &:hover{
                       
                    background-color: aqua;
                }
                a{
                    color: #333;
                    text-decoration: none;
                }
            }
        }
    }
    main{
        grid-area: main;
        background-color: bisque;
        h2{
            text-align: center;
        }
        .log-in-card{
            width: 20%;
            min-height: 200px;
            background-color: rgb(255, 174, 144);
            border-radius: 25px;
            margin: 10px auto;
            padding: 10px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            // align-content: space-around;
            button{
                background-color: red;
                color: #fff;
                border: 0px solid transparent;
                border-radius: 25px;
                padding: 5px 15px;
                &:hover{
                    box-shadow: 1px 1px #333;
                    cursor: pointer;
                }
                a{
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
    }
}