
    main{
        grid-area: main;
        background-color: bisque;
        display: flex;
        justify-content: space-evenly;
        section.products{
            table{
                border: 3px solid #333;
                border-collapse: collapse;
                th,td{
                    border: 1px solid #333;
                }
            }
        }
        section.cart{
            table{
                border: 3px solid #333;
                border-collapse: collapse;
                th,td{
                    border: 1px solid #333;
                }
                tbody{
                    td.amount{
                        display: flex;
                        align-items: center;
                        input{
                            width: 30px;
                            text-align: center;
                        }
                    }
                    td.subTotal{
                        text-align: right;
                    }
                }
                tfoot{
                    :nth-child(1){
                        text-align: right;
                    }
                }
            }
        }
    }
